/* ! Global settings */
:root{ /* permet de cibler la racine du document, c'est à dire l'élément HTML. Il est utilisé pour définir des variables CSS personnalisées. */
    --responsive: calc(0.10 * 1vmin); /* je définis une variable "--responsive" avec une valeur calculée. */
    /* 1vmin représente 1% du côté le plus petit de la fenêtre (soit la hauteur la plus petite de la fenêtre). */
}
body{
    /*overflow-y: hidden;*/ /* to hide scroll bar*/
    overflow-x: hidden;
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); background-size: 21px 21px;
}
*{
    font-family: 'Prata', serif;
}

/* ! Form */
form{
    z-index: 25;
}
#section__form{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: end;
    height: 5vh;
}
select:first-of-type{
    margin-right: 1vw;
}
/* #years{
    max-height: 100px !important;
    overflow-y: auto;
    overflow: hidden !important;
    color: red;
} */
/* label:last-of-type{
    margin-left: 1vw;
} */
input{
    margin-left: 2vw;
    background-color: white;
    border-radius: 5px;
}
@media screen and (max-width : 430px) {
    #section__form{
        height: 15vh;
        display: flex;
        align-items: center;
        /* background-color: red; */
        padding-top: 10px;
    }
    select{
        display: flex;
    }
    /* label:last-of-type{
        margin-top: 100px !important;
    } */
    input{
        display: flex;
        margin-left: 5em !important;
        margin-top: 1em;
    }
}

/*  ! Title */
#section__title{
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
    height: 22vh;
}
#section__title__container--h2{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    width: 33vw;
    height: 100%;
}
h2{
    z-index: 25;
    line-height: 85%;
    padding-top: 2.3em;
}
h2 span{
    font-family: 'Great Vibes', cursive;
    /* font-size: 4em; */
    font-size: 6vw;
}
#h2__year{
    padding-left: 8vw;
    font-family: 'Prata', serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding-top: 4.5vh;
}
#section__title__container--images1{
    /* background-color: blue; */
    width: 33vw;
    height: 100%;
}
#section__title__container--images1 img{
    position: absolute;
    transform: translate(0%, -8%);
}
#section__title__container--images1--flower1{
    /* je définis la largeur de l'img en multipliant 270px (sa taille) par la valeur de la variable définie plus haut 
    (ce qui fait 270 * 0,9) => la taille s'adapte donc au côté le plus petit. Donc dès qu'on passe en mode portrait 
    (quand la hauteur de la fenêtre devient plus grande que la largeur) l'img s'adapte au côté le plus petit. */
    width: calc(270 * var(--responsive));
    z-index: 10;
    padding-top: 2vh;
}
#section__title__container--images1--flower2{
    left: 4%;
    width: calc(430 * var(--responsive));
    z-index: 5;
}
#section__title__container--images1--flower3{
    width: calc(480 * var(--responsive));
    left: 18%;
    padding-top: 3vh;
    z-index: 10;
}
#section__title__container--images2{
    /* background-color: lightblue; */
    width: 33vw;
    height: 100%;
}
#section__title__container--images2 img{
    position: absolute;
    transform: translate(-30%, -4%);
    /* background-color: grey; */
}
#section__title__container--images2--flower1{
    width: calc(480 * var(--responsive));
    z-index: 10;
    padding-top: 2vh;
}
#section__title__container--images2--flower2{
    width: calc(430 * var(--responsive));
    z-index: 5;
    padding-bottom: 30vh;
    left: 80%;
}
#section__title__container--images2--flower3{
    width: calc(270 * var(--responsive));
    z-index: 10;
    padding-top: 2vh;
    left: 91%;
}
@media screen and (max-width : 430px) {
    #section__title{
        /* width: 95vw; */
        height: 8vh;
        padding-top: 40px;
        /* background-color: red; */
        /* width: 100vw; */
    }
    #section__title__container--images1{
        /* background-color: #8E9291; */
        /* width: 50%; */
    }
    #section__title__container--images1--flower1{
        width: calc(120 * var(--responsive));
    }
    #section__title__container--images1--flower2{
        width: calc(230 * var(--responsive));
    }
    #section__title__container--images1--flower3{
        width: calc(280 * var(--responsive));
    }
    #section__title__container--images2{
        /* background-color: #8E9291; */
        /* width: 25vw; */
    }
    #section__title__container--images2--flower3{
        width: calc(120 * var(--responsive));
    }
    #section__title__container--images2--flower2{
        width: calc(230 * var(--responsive));
    }
    #section__title__container--images2--flower1{
        width: calc(280 * var(--responsive));
    }
    h2{
        padding: 20px 0px 0px;
        margin: 0;
    }
    h2 span:first-of-type{
        font-size: 15vw;
    }
    #h2__year{
        padding: 10px 0px 0px 80px;
        font-size: 5vw;
    }
}
/* ! Calendar */
#section__calendar{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
#calendar__container{
    /* background-color: red; */
    height: 60vh;
    width: 61vw;
}
.days-name__container{
    /* background-color: aqua; */
    height: 5vh;
    display: flex;
}
.days-name__blocks{
    /* background-color: red; */
    height: 100%;
    width: 13vw;
    display: flex;
    align-items: end;
    padding-left: 0.5vw;
    font-size: 1vw;
}
.days__container{
    /* background-color: blue; */
    height: calc(60vh - 5vh);
    display: flex;
    flex-wrap: wrap;
}
.days__container--empty{ /* class appelée avec PHP */
    background-color: #8E9291;
    height: 100%;
    width: 100%;
}
.days__blocks{
    /* background-color: aqua; */
    height: calc(55vh / 6);
    width: calc(60vw / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}
@media screen and (max-width : 1399px) and (min-width : 431px) {
    #calendar__container{
        height: 60vh;
        width: 81vw;
        padding-left: 150px;
    }
    .days__container{
        /* background-color: blue; */
        /* height: calc(100vh - 5vh);
        width: 80vw; */
        height: 55vh;
    }
    .days__blocks{
        height: calc(55vh / 6) !important;
        width: calc(80vw / 8) !important;
    }
    .days-name__blocks{
        /* background-color: red; */
        height: 100%;
        width: calc(80vw / 8);
        /* padding-left: 0.5vw; */
        display: flex;
        justify-content: start;
    }
}
@media screen and (max-width : 430px) {
    #section__calendar{
        padding-top: 20px;
    }
    #calendar__container{
        /* height: 10vh !important; */
        width: 100%;
        padding-left: 10px;
        /* background-color: red !important; */
    }
    .days__container{
        /* background-color: blue; */
        /* height: calc(100vh - 5vh);
        width: 80vw; */
        height: 55vh;
    }
    .days__blocks{
        height: calc(55vh / 6) !important;
        width: calc(100vw / 8) !important;
        font-size: 5vw;
    }
    .days-name__blocks{
        /* background-color: red; */
        height: 100%;
        width: calc(100vw / 8);
        /* padding-left: 0.5vw; */
        display: flex;
        justify-content: center;
        font-size: 2.5vw;
    }
}