/* ! Global settings */
body{
    /*overflow-y: hidden;*/ /* to hide scroll bar*/
    overflow-x: hidden;
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); background-size: 21px 21px;
}
*{
    font-family: 'Prata', serif;
}

/* ! Form */
form{
    z-index: 25;
}
#section__form{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 5vh;
}
select:first-of-type{
    margin-right: 1vw;
}
/* #years{
    max-height: 100px !important;
    overflow-y: auto;
    overflow: hidden !important;
    color: red;
} */
/* label:last-of-type{
    margin-left: 1vw;
} */
input{
    margin-left: 2vw;
    background-color: white;
    border-radius: 5px;
}
@media screen and (max-width : 430px) {
    #section__form{
        height: 15vh;
        display: flex;
        align-items: center;
        padding-left: 4em;
    }
    select{
        display: flex;
    }
    /* label:last-of-type{
        margin-top: 100px !important;
    } */
    input{
        display: flex;
        margin-left: 5em !important;
        margin-top: 1em;
    }
}

/*  ! Title */
#section__title{
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
    height: 22vh;
}
#section__title__container--h2{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    width: 33vw;
    height: 100%;
}
h2{
    z-index: 25;
    line-height: 85%;
    padding-top: 2.3em;
}
h2 span{
    font-family: 'Great Vibes', cursive;
    /* font-size: 4em; */
    font-size: 6vw;
}
#h2__year{
    padding-left: 8vw;
    font-family: 'Prata', serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding-top: 4.5vh;
}
#section__title__container--images1{
    /* background-color: blue; */
    width: 33vw;
    height: 100%;
}
#section__title__container--images1 img{
    position: absolute;
    transform: translate(0%, -8%);
}
#section__title__container--images1--flower1{
    height: 22vh;
    z-index: 10;
    padding-top: 2vh;
}
#section__title__container--images1--flower2{
    left: 4%;
    height: 30vh !important;
    z-index: 5;
}
#section__title__container--images1--flower3{
    height: 20vh;
    left: 18%;
    padding-top: 3vh;
    z-index: 10;
}
#section__title__container--images2{
    /* background-color: lightblue; */
    width: 33vw;
    height: 100%;
}
#section__title__container--images2 img{
    position: absolute;
    transform: translate(-30%, -4%);
}
#section__title__container--images2--flower1{
    height: 20vh;
    z-index: 10;
    padding-top: 2vh;
}
#section__title__container--images2--flower2{
    height: 30vh;
    z-index: 5;
    padding-bottom: 30vh;
    left: 80%;
}
#section__title__container--images2--flower3{
    height: 22vh;
    z-index: 10;
    padding-top: 2vh;
    left: 91%;
}
/* ! Calendar */
#section__calendar{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
#calendar__container{
    /* background-color: red; */
    height: 60vh;
    width: 61vw;
}
.days-name__container{
    /* background-color: aqua; */
    height: 5vh;
    display: flex;
}
.days-name__blocks{
    /* background-color: grey; */
    height: 100%;
    width: 13vw;
    display: flex;
    align-items: end;
    padding-left: 0.5vw;
}
.days__container{
    /* background-color: blue; */
    height: calc(60vh - 5vh);
    display: flex;
    flex-wrap: wrap;
}
.days__container--empty{
    background-color: #8E9291;
    height: 100%;
    width: 100%;
}
.days__blocks{
    /* background-color: aqua; */
    height: calc(55vh / 6);
    width: calc(60vw / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

